/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;
/*Tailwind*/
@layer components {
  .btn-base {
    @apply flex justify-center items-center h-11 shadow min-w-max
    uppercase text-center text-black  font-bold
    px-md py-xs rounded-sm
    hover:bg-primary hover:bg-opacity-80
    disabled:bg-textLight disabled:cursor-not-allowed
  }

  .input-base {
    @apply text-textLight h-11 px-lg py-md
    border rounded-sm border-grayLight bg-grayLight shadow-sm
    hover:ring-1 hover:ring-gray-700
    focus:outline-none focus:ring-2 focus:ring-primary;
  }

  .album-container {
    @apply grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2  lg:gap-x-16 md:gap-x-12 sm:gap-x-8 gap-y-12 w-full
  }

  .accordion-content {
    @apply overflow-hidden h-0 transition-height ease-in-out duration-300
  }

  .accordion-content[aria-expanded="true"] {
    height: 450px;
  }

}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
  PoiretOne;
  background: #1C1C1C;
  color: #FFF
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

